@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root{

    --clr-light: #ffffff;
    --clr-dark: #111111;

    --clr-white: #eeeeee;
    --clr-black: #222222;

    --clr-dirt: #dddddd;
    --clr-dust: #808080;
    --clr-smoke: #333333;

    --clr-green-50: #f1fcf5;
    --clr-green-100: #defaea;
    --clr-green-200: #bff3d5;
    --clr-green-300: #8ee7b5;
    --clr-green-400: #55d38d;
    --clr-green-500: #2bae66;
    --clr-green-600: #209957;
    --clr-green-700: #1d7846;
    --clr-green-800: #1c5f3b;
    --clr-green-900: #194e32;
    --clr-green-950: #082b1a;

    --clr-blue-50: #eff9ff;
    --clr-blue-100: #def1ff;
    --clr-blue-200: #b6e5ff;
    --clr-blue-300: #75d2ff;
    --clr-blue-400: #2cbcff;
    --clr-blue-500: #00a5f9;
    --clr-blue-600: #0082d4;
    --clr-blue-700: #0067ab;
    --clr-blue-800: #00578d;
    --clr-blue-900: #064974;
    --clr-blue-950: #042e4d;

    --clr-orange: #ffa500;
    --clr-red: #ff3131;

}

*, *::after, *::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
}

img, svg{
    max-width: 100%;
    max-height: 100%;
    display: block;
    user-select: none;
}

input:disabled{
    cursor: not-allowed;
}

.dark-theme{
    --clr-light: #111111;
    --clr-dark: #ffffff;

    --clr-white: #222222;
    --clr-black: #eeeeee;

    --clr-dirt: #333333;
    --clr-smoke: #dddddd;

    --clr-green-50: #082b1a;
    --clr-green-100: #194e32;
    --clr-green-200: #1c5f3b;
    --clr-green-300: #1d7846;
    --clr-green-400: #209957;
    --clr-green-500: #2bae66;
    --clr-green-600: #55d38d;
    --clr-green-700: #8ee7b5;
    --clr-green-800: #bff3d5;
    --clr-green-900: #defaea;
    --clr-green-950: #f1fcf5;

    --clr-blue-50: #042e4d;
    --clr-blue-100: #064974;
    --clr-blue-200: #00578d;
    --clr-blue-300: #0067ab;
    --clr-blue-400: #0082d4;
    --clr-blue-500: #00a5f9;
    --clr-blue-600: #2cbcff;
    --clr-blue-700: #75d2ff;
    --clr-blue-800: #b6e5ff;
    --clr-blue-900: #def1ff;
    --clr-blue-950: #eff9ff;
}


.container{
    width: 100%;
    padding-left: 1rem;
    padding-right: 1rem;
}

.section{
    min-height: calc(100svh - 2.5rem);
}


.dropdown{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.dropdown-options{
    position: absolute;
    background-color: var(--clr-light);
    padding: 0.5rem;
    top: 125%;
    border-radius: 0.25rem;
    box-shadow: 1px 1px 4px var(--clr-dirt);
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    transition: color 0s 999999999s, background-color 0s 999999999s;
}

@media only screen and (min-width: 475px) {

}
  
@media only screen and (min-width: 640px) {
    .container{
        padding-left: 2rem;
        padding-right: 2rem;
    }
    .section{
        min-height: calc(100svh - 3rem);
    }
}

@media only screen and (min-width: 768px) {

}

@media only screen and (min-width: 1024px) {
    .container{
        padding-left: 3rem;
        padding-right: 3rem;
    }
}

@media only screen and (min-width: 1200px) {

}

@media only screen and (min-width: 1440px) {
    .container{
        padding-left: 4.5rem;
        padding-right: 4.5rem;
    }
}

@media only screen and (min-width: 1536px) {
    .container{
        padding-left: 6rem;
        padding-right: 6rem;
    }
}