@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root{

    --clr-light: #eeeeee;
    --clr-dark: #111111;

    --clr-green-50: #f1fcf5;
    --clr-green-100: #defaea;
    --clr-green-200: #bff3d5;
    --clr-green-300: #8ee7b5;
    --clr-green-400: #55d38d;
    --clr-green-500: #2bae66;
    --clr-green-600: #209957;
    --clr-green-700: #1d7846;
    --clr-green-800: #1c5f3b;
    --clr-green-900: #194e32;
    --clr-green-950: #082b1a;

}

*, *::after, *::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

img, svg{
    max-width: 100%;
    max-height: 100%;
    display: block;
}

.dark-theme{
    --clr-light: #111111;
    --clr-dark: #eeeeee;

    --clr-green-50: #082b1a;
    --clr-green-100: #194e32;
    --clr-green-200: #1c5f3b;
    --clr-green-300: #1d7846;
    --clr-green-400: #209957;
    --clr-green-500: #2bae66;
    --clr-green-600: #55d38d;
    --clr-green-700: #8ee7b5;
    --clr-green-800: #bff3d5;
    --clr-green-900: #defaea;
    --clr-green-950: #f1fcf5;
}


.container{
    width: 100%;
    min-height: 100svh;
    padding-left: 1rem;
    padding-right: 1rem;
}

@media only screen and (min-width: 475px) {

}
  
@media only screen and (min-width: 640px) {
    .container{
        padding-left: 2rem;
        padding-right: 2rem;
    }
}

@media only screen and (min-width: 768px) {

}

@media only screen and (min-width: 1024px) {
    .container{
        padding-left: 3rem;
        padding-right: 3rem;
    }
}

@media only screen and (min-width: 1200px) {

}

@media only screen and (min-width: 1440px) {
    .container{
        padding-left: 4.5rem;
        padding-right: 4.5rem;
    }
}

@media only screen and (min-width: 1536px) {
    .container{
        padding-left: 6rem;
        padding-right: 6rem;
    }
}