.passwordinput{
    position: relative;
    display: flex;
    align-items: center;
    border: 1px solid var(--clr-dust);
    border-radius: 0.35rem;
    padding-right: 0.5rem;
}

.passwordinput-label{
    position: absolute;
    left: 0.5rem;
    color: var(--clr-smoke);
    background-color: var(--clr-white);
    transition: all 200ms;
}

.passwordinput-input{
    padding: 0.5rem;
    flex-grow: 1;
    color: var(--clr-dark);
    background-color: transparent;
    border: none;
    outline: none;
}

.passwordinput:has(.passwordinput-input:focus){
    border-color: var(--clr-blue-700);
    box-shadow: 0 4px 4px -6px var(--clr-blue-700);
}

.passwordinput:has(.passwordinput-input:focus) > .passwordinput-label, .passwordinput:has(.passwordinput-input:not(:placeholder-shown)) > .passwordinput-label{
    transform: translateY(-100%) scale(0.75);
    transform-origin: left;
}

.passwordinput-icon{
    cursor: pointer;
    padding: 0.3rem;
    border-radius: 100%;
}