.card{
    padding-right: 0.5rem;
    display: flex;
    align-items: center;
    width: 100%;
    height: 2.5rem;
    background-color: var(--clr-green-50);
    border-radius: 0.25rem;
    box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: all 150ms;
}

.card:hover{
    transform: scale(1.01, 1.1);
    background-color: var(--clr-green-100);
}

.card__line{
    height: 100%;
    width: 0.5rem;
    border-radius: 0.25rem 0 0 0.25rem;
    background-color: var(--clr-green-400);
}

.card:nth-child(even){
    background-color: var(--clr-blue-50);
}

.card:nth-child(even):hover{
    background-color: var(--clr-blue-100);
}

.card:nth-child(even) > .card__line{
    background-color: var(--clr-blue-400);
}

.card__link{
    cursor: initial;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    text-decoration: none;
    color: var(--clr-dark);
    height: 100%;
    flex-grow: 1;
    text-align: left;
    padding: 1rem;
}

.card__linktext{
    cursor: pointer;
}

.card__menu{
    position: relative;
    display: flex;
    align-items: center;
}

.card__menu-options{
    position: absolute;
    display: flex;
    flex-direction: column;
    right: 2rem;
    z-index: 100;
    background-color: var(--clr-light);
    color: var(--clr-dark);
    box-shadow: 1px 1px 8px var(--clr-dirt);
    border-radius: 0.25rem;
    padding: 0.5rem;
    gap: 0.25rem;
}

.card__menu-option{
    border-radius: 0.25rem;
    padding: 0.2rem 0.3rem;
}

.card__menu-option:hover{
    background-color: var(--clr-white);
}


@media only screen and (min-width: 475px) {
    .card{
        height: 3rem;
    }
}
  
@media only screen and (min-width: 640px) {

}

@media only screen and (min-width: 768px) {

}

@media only screen and (min-width: 1024px) {
    .card{
        height: 4rem;
    }
}

@media only screen and (min-width: 1200px) {

}

@media only screen and (min-width: 1440px) {
    .card{
        height: 4.5rem;
    }
}

@media only screen and (min-width: 1536px) {
    .card{
        height: 5.5rem;
    }
}