.profilebar{
    position: sticky;
    left: 0;
    top: 0;
    height: calc(100svh - 3rem) ;
    width: 25rem;
    padding-top: 1rem;
    color: var(--clr-dark);
    border-right: 1.5px solid var(--clr-white);
}

.blob-container{
    position: relative;
    width: 80%;
    aspect-ratio: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.profilebar-blob{
    width: 80%;
    position: absolute;
}

.views-count{
    position: absolute;
    color: var(--clr-light);
    font-size: clamp(0.75rem, 3vw, 1.125rem);
    font-weight: 600;
}