.share{
    padding-top: 1rem;
    background-color: var(--clr-light);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.share__avatar{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 5rem;
    height: 5rem;
    border-radius: 100%;
    background: linear-gradient(138deg, rgba(0,212,255,1) 0%, rgba(15,184,176,1) 50%, rgba(32,153,87,1) 100%);
    color: var(--clr-light);
    font-size: 2rem;
    font-weight: 700;
}

.share__username{
    font-size: clamp(1.125rem, 5vw, 2.5rem); 
    color: var(--clr-dark);
}

.share__userprofession{
    color: var(--clr-dark);
}

.share__userbio{
    color: var(--clr-dark);
    margin-top: 0.25rem;
}

.share__container{
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
    gap: 1rem;
}


@media only screen and (min-width: 475px) {

}
  
@media only screen and (min-width: 640px) {

}

@media only screen and (min-width: 768px) {
    .share__container{
        width: 80%;
    }
}

@media only screen and (min-width: 1024px) {

}

@media only screen and (min-width: 1200px) {
    .share__container{
        width: 60%;
    }
}

@media only screen and (min-width: 1440px) {

}

@media only screen and (min-width: 1536px) {

}