.share{
    background-color: var(--clr-light);
    display: flex;
    flex-direction: column;
    align-items: center;

}

.share__header{
    font-size: clamp(1.125rem, 5vw, 2.5rem); 
    color: var(--clr-green-950);
}

.share__container{
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
    gap: 1rem;
}


@media only screen and (min-width: 475px) {

}
  
@media only screen and (min-width: 640px) {

}

@media only screen and (min-width: 768px) {
    .share__container{
        width: 80%;
    }
}

@media only screen and (min-width: 1024px) {

}

@media only screen and (min-width: 1200px) {
    .share__container{
        width: 60%;
    }
}

@media only screen and (min-width: 1440px) {

}

@media only screen and (min-width: 1536px) {

}