.navbar{
    position: sticky;
    z-index: 100;
    top: 0;
    height: 2.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--clr-light);
    border-bottom: 1px solid var(--clr-white);
    box-shadow: 0px 1px 4px rgba(50, 50, 50, 0.2);
}

.navbar__logo{
    height: 1.5rem;
}

.navbar__menu{
    display: flex;
    align-items: center;
}

.navbar__menulist-pc{
    list-style: none;
    display: none;
    align-items: center;
    gap: 0.5rem;
}

.navbar__menuitem-pc{   
    /* No Style for now */
}

.navbar__menulist-mp{
    list-style: none;
    display: flex;
    align-items: center;
    gap: 0.25rem;
}

.navbar__menuitem-mp{
    /* No Style for now */
}

.navbar__link{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    color: var(--clr-dark);
    font-variant: small-caps;
    text-transform: uppercase;
    padding: 0.25rem 1rem;
    font-size: 0.875rem;
    font-weight: 500;
    transition: all 250ms ease-out;
}

.navbar__link:hover{
    background-color: var(--clr-dirt);
    background-position: left;
}

.navbar__link::after{
    position: absolute;
    flex-shrink: 0;
    background-color: var(--clr-blue-600);
    content: '';
    bottom: -0.7rem;
    height: 0.15rem;
    width: 0%;
    box-shadow: -1px -1px 8px var(--clr-blue-600);
    transition: width 250ms;
}

.navbar__link.active::after{
    width: 100%;
}






@media only screen and (min-width: 475px) {

}
  
@media only screen and (min-width: 640px) {
    .navbar{
        height: 3rem;
    }
    .navbar__logo{
        height: 2rem;
    }
    .navbar__menulist-mp{
        display: none;
    }
    .navbar__menulist-pc{
        display: flex;
    }
}

@media only screen and (min-width: 768px) {
    .navbar__menulist-pc{
        gap: 1rem;
    }
    .navbar__link{
        font-size: 1rem;
    }

    .navbar__link::after{
        height: 0.2rem;
        bottom: -0.63rem;
    }
}

@media only screen and (min-width: 1024px) {

}

@media only screen and (min-width: 1200px) {

}

@media only screen and (min-width: 1440px) {

}

@media only screen and (min-width: 1536px) {

}