.hero{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hero__container{
    width: 41%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.hero__title{
    color: var(--clr-dark);
    font-size: clamp(1rem, 10vw, 4rem);
    font-weight: 500;
}

.hero__header{
    color: var(--clr-dark);
    font-size: clamp(0.75rem, 7.5vw, 2.25rem);
    font-weight: 500;
}

.hero__text{
    color: var(--clr-dark);
}