.loader-container{
    padding: 1rem;
    width: 100svw;
    height: 100svh;
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
    background-color: rgba(40, 40, 40, 0.3);
    display: flex;
    align-items: center;
    justify-content: center;
}

.loader-wrapper {
    display: inline-block;
    width: 50px;
    height: 50px;
    color: #3f51b5;
    animation: rotate-outer-circle 1.4s linear infinite;
}

.loader-svg {
    display: block;
    animation: color-animation 1.4s infinite;
}

.loader-circle {
    stroke: currentColor;
    animation: rotate-inner-circle 1.4s ease-in-out infinite;
    stroke-dasharray: 80px, 200px;
    stroke-dashoffset: 0;
}

@keyframes rotate-outer-circle {
    0% {
        transform-origin: 50% 50%;
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes rotate-inner-circle {
    0% {
        stroke-dasharray: 1px, 200px;
        stroke-dashoffset: 0;
    }

    50% {
        stroke-dasharray: 100px, 200px;
        stroke-dashoffset: -15px;
    }

    100% {
        stroke-dasharray: 100px, 200px;
        stroke-dashoffset: -125px;
    }
}

@keyframes color-animation {
    0% {
        color: #00a5f9;
    }

    25% {
        color: #ff3131;
    }

    50% {
        color: #ffa500;
    }

    75% {
        color: #2bae66;
    }
}